/*--------------------------------------------------------------
The 404 styling
--------------------------------------------------------------*/
.error404 {
	background-image: url(/wp-content/uploads/2016/01/body-bg.png);
}

section.error-404 {
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	min-height: 607px;
}

section.error-404:after {
	content: " ";
	display: block;
	clear: both;
}

section.error-404 .page-title {
	font-size: 3em;
}

section.error-404 .page-subtitle {
	margin-bottom: 2.5em;
}

