/*--------------------------------------------------------------
The Skills styling
--------------------------------------------------------------*/
#skills {
	background-color: #eee;
	color: #313131;
}

#skills:after {
	clear: both;
	content: "";
	display: table;
}

.skills-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;

	@media (max-width: 768px) {
		max-width: 80%;
	}
}

.skills-inner-wrap {
	flex-basis: 50%;
	padding: 0 4rem;

	@media (max-width: 768px) {
		flex-basis: 100%;
		padding: 0;
	}
}

.skills-content {

	p {
		line-height: 1.6;
	}
}
