#about-me {
  background-color: #fff;
  color: #000;
}

.about-me__wrapper {
  @include container(70%);
}

.about-me__title {
  text-align: center;
}

.my-name {
  text-align: center;
}

.about-me__content {
  h4, p {
    display: inline-block;
  }

  h3 {
    font-size: 22px;
    margin-top: 2.5em;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  h4 {
    margin-bottom: 0;

    @media (max-width: 480px) {
      font-size: 15px;
      margin-bottom: .5em;
    }
  }

  ul {

  }

  li {
    margin-bottom: 0.5em;
    line-height: 20px;
  }

  .underline {
    text-decoration: underline;
  }

  .see-resume {
    margin-top: 2em;
    text-transform: uppercase;
  }
}
