/*--------------------------------------------------------------
Basic html's elements styling and resets
--------------------------------------------------------------*/
@import '_base';

/*--------------------------------------------------------------
The header styling
--------------------------------------------------------------*/
@import '_header';

/*--------------------------------------------------------------
The About Me styling
--------------------------------------------------------------*/
@import '_about-me';

/*--------------------------------------------------------------
The Skills styling
--------------------------------------------------------------*/
@import '_skills';

/*--------------------------------------------------------------
The Blog styling
--------------------------------------------------------------*/
@import '_blog';

/*--------------------------------------------------------------
The Contact Form styling
--------------------------------------------------------------*/
@import "_contact-form";

/*--------------------------------------------------------------
The footer styling
--------------------------------------------------------------*/
@import 'footer';

/*--------------------------------------------------------------
The 404 styling
--------------------------------------------------------------*/
@import '404';
