#skills {
  @include clearfix;
  background-color: #D35400;
  color: #fff;
}

.skills-wrapper {
  @include container(80%);
}

.skills-inner-wrap {
  @include span(3 of 12 inside);
  cursor: pointer;

  @media (max-width: 680px) {
    @include span(12);
  }

  @media (min-width: 681px) and (max-width: 924px) {
    @include span(6 of 12 inside);
  }

  @media (min-width: 925px) and (max-width: 1024px) {
    @include span(4 of 12 inside);
  }
}

.skills-hover-title, .skills-hover-content {
  background-color: rgba(47,12,12, .7); // Find color to replace here
}

.skills-hover-content {

}

.skills-title {
  border: solid 1px #fff;
  margin: 0;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.skills-content {
  border-right: solid 1px #fff;
  border-left: solid 1px #fff;
  border-bottom: solid 1px #fff;
  margin-bottom: 3em;
  padding-top: 1em;
}

.skills-content p {
  padding-top: .5em;
  padding-left: .5em;
}

.skills-content p:last-child {
  padding-bottom: 1em;
}

.skills-content a {
  text-decoration: none;
  color: #fff;
  padding-left: .5em;
}

.skills-content a:hover {
  text-shadow: 0px 0px 1px #fff;
}

.skills-content {

  ul {
    margin: 0;
  }

  li {
    font-size: 20px;
  }

}
