@import "partials/_normalize";
@import "partials/_grid";
@import "partials/_base";
@import "partials/_header";
@import "partials/_about-me";
@import "partials/_skills";
@import "partials/_blog";
@import "partials/_projects";
@import "partials/_contact-form";
@import "partials/_footer";
@import "partials/_404";
