/*--------------------------------------------------------------
The Blog styling
--------------------------------------------------------------*/
#blog {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.blog-title {
  text-align: center;
  font-family: 'Playfair Display', serif; }

.blog-outer-wrap::after {
  clear: both;
  content: "";
  display: table; }

.blog-inner-wrap {
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  padding-left: 3em;
  padding-right: 3em; }
  @media (max-width: 980px) {
    .blog-inner-wrap {
      width: 100%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      padding-left: 3em;
      padding-right: 3em; } }

.widget_recent_entries li {
  margin-bottom: 10px; }

.blog-inner-wrap h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 1.5em; }

.blog-nav-wrapper {
  background-color: #cf4646;
  border-bottom: 1px solid #444; }
  .blog-nav-wrapper::after {
    clear: both;
    content: "";
    display: table; }
  .blog-nav-wrapper a {
    color: #F1F1F1; }

.blog-container {
  background-image: url(/wp-content/uploads/2016/01/body-bg.png); }
  .blog-container::after {
    clear: both;
    content: "";
    display: table; }

.blog-content {
  border-right: solid 1px lightgray;
  padding-right: 4em; }
  @media (max-width: 980px) {
    .blog-content {
      padding-right: 0;
      border-right: none; } }

.blog-wrapper {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  padding: 4em;
  padding-right: 2em; }
  @media (max-width: 980px) {
    .blog-wrapper {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding-right: 4em; } }
  @media (max-width: 480px) {
    .blog-wrapper {
      padding-right: 1em;
      padding-left: 1em; } }

.widget-area {
  width: 23.72881%;
  float: right;
  margin-right: 0;
  padding-top: 5.5em; }
  @media (max-width: 980px) {
    .widget-area {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 0 4em 2em; } }
  @media (max-width: 480px) {
    .widget-area {
      padding-right: 1em;
      padding-left: 1em; } }
  @media (max-width: 980px) {
    .widget-area h1 {
      border-top: solid 1px lightgray;
      line-height: 46px; } }

.blog-header {
  font-size: 37.904px; }

.blog-entry p {
  line-height: 28.8px;
  font-size: 16.8px;
  margin-bottom: 1em; }

.blog-entry img {
  width: 100%; }

.blog-entry li {
  margin-bottom: .5em; }

@media (min-width: 352px) {
  .blog-entry .no-full-width {
    width: inherit; } }

.entry-meta {
  margin-top: 2em; }

.comments-area {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  padding-right: 4em;
  clear: both;
  padding-left: 4em;
  padding-bottom: 2em; }
  @media (max-width: 980px) {
    .comments-area {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      padding: 0 4em 2em; } }
  @media (max-width: 480px) {
    .comments-area {
      padding-right: 1em;
      padding-left: 1em; } }
  @media (max-width: 980px) {
    .comments-area h2 {
      border-top: solid 1px lightgray;
      line-height: 46px; } }

.comment-author {
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0.2em; }

.comment-metadata {
  padding: 1em;
  padding-top: 0; }

.comment-content {
  padding-left: 1em; }

.reply {
  padding: 1em; }

.comment-list {
  padding-left: 1.3em; }

#comment {
  width: 100%; }

p.comment-form-comment {
  padding: 1em;
  padding-left: 0; }

#reply-title {
  margin-bottom: .2em; }

.comment-form-author input {
  margin-bottom: 1em; }

.comment-form-email input {
  margin-bottom: 1em; }

.submit {
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
  font-size: 20px;
  color: #444;
  transition: background-color 400ms ease-out;
  width: 313px;
  border-radius: 3px;
  background-color: transparent;
  border: solid 1px #444;
  margin-top: 2em; }
  @media (max-width: 465px) {
    .submit {
      width: 158px;
      font-size: 15px; } }
  .submit:hover {
    background-color: rgba(255, 255, 255, 0.15);
    background-color: #cf4646; }

.read-more-link {
  display: block;
  margin-top: 1em; }