// Convert pixels to ems
// eg. for a relational value of 12px write em(12) when the parent is 16px
// if the parent is another value say 24px write em(12, 24)

@function em($target, $context: 16px) {
  @return ($target/$context) * 1em;
}

