/*--------------------------------------------------------------
The Contact Form styling
--------------------------------------------------------------*/
#contact-me {
	background-color: #074e68;
}

.contact-me__text {
	margin-bottom: 3em;
	color: #fff;
	line-height: 1.5;
	font-size: 18px;
}

.contact {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.contact:after {
	content: " ";
	display: block;
	clear: both;
}

@media (min-width: 769px) {

	.contact {
		max-width: 40%;
		margin-left: auto;
		margin-right: auto;
	}

	.contact:after {
		content: " ";
		display: block;
		clear: both;
	}
}

.contact-me_title {
	text-align: center;
	color: #fff;
	margin-bottom: 1em;
	font-family: "Playfair Display", serif;
}

.wpcf7-form-control-wrap__input {
	height: 50px;
	width: 100%;
	background-color: #053c50;
	font-size: 20px;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
	color: #fff;
	border-style: none;
	border-radius: 3px;
}

.wpcf7-form-control-wrap__text-area {
	width: 100%;
	background-color: #053c50;
	font-size: 20px;
	margin-bottom: 0.5em;
	padding: 0.5em;
	color: #fff;
	border-style: none;
	border-radius: 3px;
}

.wpcf7-form-control-wrap__submit {
	border-style: solid;
	border-width: 0;
	cursor: pointer;
	font-weight: normal;
	line-height: normal;
	margin: 0 0 1.11111rem;
	position: relative;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
	font-size: 20px;
	color: #fff;
	transition: background-color 400ms ease-out;
	width: 50%;
	border-radius: 3px;
	background-color: transparent;
	border: solid 1px #fff;
}

.wpcf7-form-control-wrap__submit:hover {
	background-color: rgba(255, 255, 255, 0.15);
}

.captcha {
	margin-bottom: 1em;
}