/*--------------------------------------------------------------
Grid Styling
--------------------------------------------------------------*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container::after {
	content: " ";
	display: block;
	clear: both;
}
